body {
    overflow-y: hidden;
    margin: 0;
}
main {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.page-header .wrapper .list-right .content__list:last-child {
    margin-bottom: 10px;
}
aside {
    overflow-y: scroll;
    width: 16%;

}
.page-header .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width:84%;

}
.page-header .wrapper .no-to-choose {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    z-index: 1;
}
.page-header .wrapper .no-to-choose i{
    font-size: 100px;
}
.page-header .wrapper .no-to-choose .title {
    font-size: 32px;
}
.page-header{
    display: flex;
}
.page-header .search-form {
    background-color: #ecf4f7;
    padding: 20px;
    flex-grow: 3;
    border-bottom: 1px solid #cbddeb;
    position: relative;
}
.page-header .search-form .search-form__foto a {
    position: absolute;
    bottom: -10px;
    left: 40%;
    color: #9FB0BE;
}
.page-header .search-form .search-form__foto a:last-child {
    left: 50%;
}

.page-header .search-form .search-form__input {
    border: none;
    cursor: pointer;
    position: absolute;
    /*background: url(/../img/recursion.jpg) no-repeat center right, url(/../img/loupe.jpg) no-repeat 85% 50% #ffffff ;*/
    /*  This expression turned out to be the only workable one for realizing the task.  */
    background-size: 10%;
}
.page-header .search-form .search {
    position: relative;
    top:-20px;
    left: 126px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}
.page-header .search-form .cancel {
    position: relative;
    top:-20px;
    left: 121px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}
.page-header .header__content {

    flex-grow: 8;
    display: inline-table;
    background-color: #ecf4f7;
}
.page-header .wrapper .header__content .header__content--foto {
    position: relative;
    top: -8px;
    color: #cbddeb;
    text-align: center;
}
.page-header .wrapper .header__content .header__content--foto i {
    width: 2%;
    color: #97A5B3;
}
.page-header .wrapper .header__content .header__content--title {
    padding-left: 6%;
    font-size: 24px;
}
.page-header .wrapper .header__content .header_class--contact {
    display: flex;
    font-size: 12px;
    padding-left: 6%;
    border-bottom: 1px solid #cbddeb;
}
.page-header .wrapper .header__content .header_class--contact .header__content--contact_info {
    padding-right: 35px;
}
.page-header .wrapper .header .header__counters {
    border-top: 1px solid #ccc;
}
.page-header .wrapper .header .header__counters img {
    border-right: 1px solid #ccc;
    height: 98px;
}
.page-header .aside__list .aside__list--content {
    padding-left: 4%;
    padding-bottom: 4%;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.page-header .aside__list .aside__list--content_p {
    display: flex;
}
.page-header .aside__list .aside__list--content_p .name {
    width: 50%
}
.page-header .aside__list .aside__list--content_p .number{
    margin-left: 73px;
}
.page-header .aside__list .aside__list--content:hover {
    color: #727071;
}
.active {
    color: #6495ed;
}
.page-header .aside__list .aside__list--content span {
    font-size: 12px;
}
.page-header .aside__list {
    height: 100vh;
}
.page-header .header {
    height: 0;
}
.page-header .wrapper .content {
    padding-left: 2%;
    margin: 2% 2%;
    background-color: #E4E4E4;
}
.page-header .wrapper .content .content__header--title {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
    font-size: 12px;
    margin-right: 42px;
}
.page-header .wrapper .list-right .content__list {
    display: flex;
    /*justify-content: flex-end;*/
    font-size: 12px;
    cursor: pointer;
    position: relative;
    z-index : 1;
    align-items: center;

    margin-left: 84px;
    margin-bottom: 15px;
}
.page-header .wrapper .list-right .content__list .specs {
    text-overflow: ellipsis;
}
.page-header .wrapper .list-right .content__list span {
    padding-right: 83px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 7%;
}
.page-header .wrapper .list-right .content__list:hover {
    background-color: #cccccc;
}
.page-header .wrapper .list-right .content__list img {
    width: 50%;
    z-index: -1;
}
.page-header .footer .footer__aside {
    position: fixed;
    width: 15%;
    top: 94%;
    align-items: center;
    height: 35px;
    background-color: #42505b;
    display: flex;
    justify-content: flex-end;
    opacity: 0.9;
}
.page-header .footer .footer__aside button {
    background-color: #42505b;
    height: 82%;
    border: 1px solid #ffffff;
    color: #cbddeb;
    font-weight: bold;
    margin-right: 3%;
    padding-right: 4%;
    cursor: pointer;
    border-radius: 5px;
}
.page-header .wrapper .right-footer {
    position: fixed;
    width: 82%;
    top: 94%;
    z-index: 1;
    align-items: center;
    height: 35px;
    background-color: #42505b;
    display: flex;
    justify-content: flex-end;
    opacity: 0.9;
}
.page-header .wrapper .right-footer .right-footer__footer {
    height: 90%;
    font-weight: bold;
    margin-right: 2%;
    align-items: center;
    margin-top: 8px;

}
.page-header .wrapper .right-footer .right-footer__footer--Create {
    background-color: #42505b;
    height: 82%;
    border: 1px solid #ffffff;
    color: #cbddeb;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.page-header .wrapper .right-footer .right-footer__footer--Delete {
    border: 1px solid #ffffff;
    height: 82%;
    font-weight: bold;
    color: red;
    background-color: #42505b;
    border-radius: 5px;
    cursor: pointer;
}
.page-header .wrapper .list-right .content__list span i {
    color: #FFB60B;
}
.page-header .wrapper .header__content .header__counters img {
    cursor: pointer;
}
.shop-add {
    display: none;
}
.shop-add .shop-add__form {
    position: absolute;
    display: flex;
    left: 36%;
    top: 9%;
    width: 30%;
    height: 80%;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
    box-shadow:0 0 0 9999px rgba(0, 0, 0, 0.5);
}
.shop-add .shop-add__form p{
    padding-left:20px; ;
}
.shop-add .shop-add__form input{
    border: 1px solid #000000;
    margin: 0 20px;
    width: 90%;
}
.shop-add .shop-add__form button {
    padding: 5px;
    margin: 5px;
}
.shop-add .shop-add__form .form-shop {
    display: flex;
    margin-bottom: 0;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.shop-add .shop-add__form .shop-add__form--title{
    margin: 10px auto;
}
.shop-add .shop-add__form .shop-add__buttons {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    background: #2d3b46;
}
.shop-add .shop-add__form .shop-add__buttons input {
    width: 20%;
}
.shop-add .shop-add__form .shop-add__buttons .cancel-button {
    border: none;
    background: #2d3b46;
    color: #ffffff;
    cursor: pointer;
}
.shop-add .shop-add__form .shop-add__buttons .cancel-button--store {
    border: none;
    background: #2d3b46;
    color: #ffffff;
    cursor: pointer;
}
.shop-add .shop-add__form .shop-add__buttons .create-button {
    border: none;
    border-radius: 5px;
    background-color: #3798cb;
    color: #ffffff;
    cursor: pointer;
}
.product-add {
    display: none;
}
.product-add .product-add__form {
    height: 85%;
    position: fixed;
    display: flex;
    left: 36%;
    top: 5%;
    width: 30%;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
    box-shadow:0 0 0 9999px rgba(0, 0, 0, 0.5);
}
/*.product-add .product-add__form {

}*/
.product-add .product-add__form .form-product .product-add__buttons {
    margin-top: 20px;
    background-color: #42505b;
    display: flex;
    justify-content: flex-end;
}
.product-add .product-add__form .form-product .product-add__buttons input {
    width: 20%;
    margin: 5px 10px;
}
.product-add .product-add__form .form-product .product-add__buttons .create-button {
    border: none;
    border-radius: 5px;
    background-color: #3798cb;
    color: #ffffff;
    cursor: pointer;
}
.product-add .product-add__form .form-product .product-add__buttons .cancel-button {
    border: none;
    background: #42505b;
    color: #ffffff;
    cursor: pointer;
}
.product-add .product-add__form .product-add__form--title {
    text-align: center;
}
.product-add .product-add__form .form-product p {
    padding-left: 20px;
}
.product-add .product-add__form .form-product{
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    margin-bottom: 0;
}
.product-add .product-add__form .form-product input {
    border: 1px solid #000000;
    margin: -15px 20px;
}
.product-add .product-add__form .form-product .price-input {
    display: flex;
    justify-content: flex-start;
}
.product-add .product-add__form .form-product .price-input input {
    width: 81%;
    margin-right: 2px;
}

.product-edit {
    display: none;
}
.product-edit .product-edit__form {
    height: 85%;
    position: fixed;
    display: flex;
    left: 36%;
    top: 5%;
    width: 30%;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
    box-shadow:0 0 0 9999px rgba(0, 0, 0, 0.5);
}
.product-edit .product-edit__form .form-product-edit .product-edit__buttons {
    margin-top: 20px;
    background-color: #42505b;
    display: flex;
    justify-content: flex-end;
}
.product-edit .product-edit__form .form-product-edit .product-edit__buttons input {
    width: 20%;
    margin: 5px 10px;
}
.product-edit .product-edit__form .form-product-edit .product-edit__buttons .create-button {
    border: none;
    border-radius: 5px;
    background-color: #3798cb;
    color: #ffffff;
    cursor: pointer;
}
.product-edit .product-edit__form .form-product-edit .product-edit__buttons .cancel-button {
    border: none;
    background: #42505b;
    color: #ffffff;
    cursor: pointer;
}

.product-edit .product-edit__form .product-edit__form--title {
    text-align: center;
}
.product-edit .product-edit__form .form-product-edit p {
    padding-left: 20px;
}
.product-edit .product-edit__form .form-product-edit{
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
}
.product-edit .product-edit__form .form-product-edit input {
    border: 1px solid #000000;
    margin: -15px 20px;
}
.product-edit .product-edit__form .form-product-edit .price-input {
    display: flex;
    justify-content: flex-start;
}
.product-edit .product-edit__form .form-product-edit .price-input input {
    width: 81%;
    margin-right: 2px;
}

.sure-delete {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    top: 30%;
    left: 35%;
    z-index: 2;
    background-color: #ffffff;
    width: 30%;
    height: 20%;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}
.sure-delete .confirmation {
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.sure-delete p{
    height: 21%;
    padding-top: 20px;
    text-align: center;
}
.sure-delete .buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.sure-delete .buttons .btn-primary{
    margin-right: 10px;
    background-color: #489caf;
    border: none;
    color: #ffffff;
}
.page-header .wrapper .header__content .header__counters {
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
}
.page-header .wrapper .header__content .header__counters .all-products {
    font-size: 24px;
    padding-right: 20px;
    cursor: pointer;
}
.page-header .wrapper .header__content .header__counters .ok-products {
    display: flex;
    cursor: pointer;
}
.page-header .wrapper .header__content .header__counters .storage-products {
    display: flex;
    cursor: pointer;
}
.page-header .wrapper .header__content .header__counters .storage-products .storage-title {
     display: flex;
     flex-direction: column;
    padding-left: 10px;
 }
.page-header .wrapper .header__content .header__counters .storage-products .storage-title i {
    text-align: center;
    font-size: 32px;
    color: #979700;
}
.page-header .wrapper .header__content .header__counters .ok-products .ok-title {
    display: flex;
    flex-direction: column;
}
.page-header .wrapper .header__content .header__counters .ok-products .ok-title span {
    text-align: center;
}
.page-header .wrapper .header__content .header__counters .ok-products .ok-title i {
    font-size: 32px;
    color :#008000;
}
.page-header .wrapper .header__content .header__counters .out-products {
    display: flex;
    cursor: pointer;
}
.page-header .wrapper .header__content .header__counters .out-products .out-title {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.page-header .wrapper .header__content .header__counters .out-products .out-title i {
    font-size: 32px;
    color: #FF0000;
    text-align: center;
}
.page-header .wrapper .filter {
    padding: 10px 25px;
}
#preloader {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    width: 84%;
    height: 100%;
    overflow: visible;
    background: #fbfbfb url('//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif') no-repeat center center;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}
.visible-none {
    display:none!important;
}
.change-sorting {
    display: none!important;
}
.change {
    transform: rotate(90deg)!important;
}
/*
@media (min-width: 560px) {
    aside {
        display: none;
    }
    .page-header .wrapper .list-right .content__list {
        margin-left: 70px;
    }
    .page-header .wrapper .list-right .content__list span {
        padding-right: 25px;
    }
    .page-header .wrapper .list-right .content__list i {
        font-size: 8px;
    }
    .page-header .wrapper .list-right .content__list .rating {

    }
    .page-header .wrapper .right-footer {
        width: 98%;
    }
}
@media (min-width: 768px) {
    aside {
        display: block;
    }
    .page-header .wrapper .right-footer {
        width: 81%;
    }
    .page-header .footer .footer__aside{
        width: 18%;
    }

}
@media (min-width: 1280px) {
    .page-header .footer .footer__aside{
        width: 15%;
    }
    .page-header .wrapper .list-right .content__list span {
        padding-right: 59px;
    }
}*/
